In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
df_mut = pd.read_excel('Analise_Dados_mut.xlsx')

In [3]:
df_mut.head()

,NOME,MUTAÇÃO.1,MUTAÇÃO.2,MUTAÇÃO.3,GANGUE/GRUPO,PAPEL,COMENTARIO,STATUS
0,ABUH,PARASITA,NaN,NaN,NENHUMA,S/PAPEL,CRIANÇA PRODIGIO,VIVO
1,ADOLFO,IMÃ HUMANO,NaN,NaN,SINDICATO,ENGENHOQUEIRO,UM ENGENHOQUEIRO QUE SE ISOLA NA GARAGEM,VIVO
2,AKA,INSETÓIDE (LOUVA ZONA),NaN,NaN,NENHUMA,BRUTAMONTES,FAZ PARTE DOS PROTETORES,DESCONHECIDO
3,ALBERTO,PARASITA,SONAR,NaN,NENHUMA,CHEFÃO,"PERSONAGEM DO CLAUDIO, CHEFÃO DAS VONGOLA",MORTO
4,ALINE,ASAS DE INSETO,TERROR MENTAL,RASTREADORA,NENHUMA,CRONISTA,COFRE AURORA / MUTANTE ALEGRE (MARIPOSA),DESCONHECIDO

In [4]:
df_mut.shape# 119 Mutantes e 8 colunas diferentes

(123, 8)

In [5]:
df_mut.count() # Conta o numero de dados não nulos em cada Coluna, mas 119 mutantes e 121 mutações? Tem algo errado

NOME            119
MUTAÇÃO.1       121
MUTAÇÃO.2        53
MUTAÇÃO.3         6
GANGUE/GRUPO    119
PAPEL           119
COMENTARIO      119
STATUS          119
dtype: int64

In [6]:
df_mut.iloc[119] #Vazias, assim como as linhas 120, 121 e 122 a linha 118 consta o Zuke, que é o último mutante da lista

NOME            NaN
MUTAÇÃO.1       NaN
MUTAÇÃO.2       NaN
MUTAÇÃO.3       NaN
GANGUE/GRUPO    NaN
PAPEL           NaN
COMENTARIO      NaN
STATUS          NaN
Name: 119, dtype: object

In [7]:
df_mut.iloc[122]

NOME            NaN
MUTAÇÃO.1         5
MUTAÇÃO.2         5
MUTAÇÃO.3         5
GANGUE/GRUPO    NaN
PAPEL           NaN
COMENTARIO      NaN
STATUS          NaN
Name: 122, dtype: object

In [8]:
df_mut.drop(df_mut.index[[119,120,121,122]], inplace=True)#Removendo as linhas que estavam atrapalhando no Data Set

In [9]:
df_mut.shape

(119, 8)

## Agora vamos ver um pouco mais a fundo algumas partes dos dados, vamos começar pelas mutações, quais são? quantas são? quais as mais comuns? quais as mais raras?

In [10]:
mutacao = df_mut[['MUTAÇÃO.1', 'MUTAÇÃO.2', 'MUTAÇÃO.3']]

In [11]:
#Concatenamos todas as 3 colunas de mutações para que pudessemos analisa-las de uma vez só
m1 = mutacao["MUTAÇÃO.1"].value_counts()
m2 = mutacao["MUTAÇÃO.2"].value_counts()
m3 = mutacao["MUTAÇÃO.3"].value_counts()
m_all = [m1, m2, m3]
resultado = pd.concat(m_all)
resultado

HOMEM FERA               7
TELEPATIA                7
ASAS DE INSETO           6
NECRÓFAGO                6
VELOCISTA                6
                        ..
MANIPULADOR DE SANGUE    1
RASTREADORA              1
SOPRO DE FOGO            1
TELEPATIA                1
PAPA PODRIDÃO            1
Length: 61, dtype: int64

In [12]:
#Quais e Quantas são:
lista_mutacoes = resultado.groupby(resultado.index).sum()
lista_mutacoes

ANFÍBIO                    5
ASAS DE INSETO             7
CUSPE ÁCIDO                3
DESCONHECIDO               1
DOIS CÉREBROS              2
ELMO NATURAL               2
ELÉTRICO                   1
ESPOROS                    4
HOMEM FERA                11
HOMEM PLANTA               1
IMÃ HUMANO                 6
INSETÓIDE                 10
INSETÓIDE (LOUVA ZONA)     1
LUMINESCENCIA              2
LUMINESCENTE               3
MANIPULADOR DE SANGUE      2
NECRÓFAGO                  8
PAPA PODRIDÃO              8
PARASITA                   6
PATOCINESE                 6
PERNAS DE RÃ               6
PIROCINESE                 9
PLANTA HUMANA              6
QUATRO BRAÇOS              6
RASTREADOR                 5
RASTREADORA                1
REFLEXOS EXTREMOS          9
REGENERAR                  2
REPTILIANO                 5
SONAR                      7
SOPRO DE FOGO              5
TELEPATIA                  8
TERROR MENTAL              5
TITERITEIRO                3
VAI E VOLTA                1
VELOCISTA                  7
dtype: int64

In [13]:
#Organizando a Series para um DF, assim conseguiremos filtrar e tirar melhores conclusões
lista_mutacoes = lista_mutacoes.to_frame().reset_index()
lista_mutacoes = lista_mutacoes.rename(columns={'index':'MUTAÇÕES', 0:'APARIÇÕES'})
lista_mutacoes

                  MUTAÇÕES  APARIÇÕES
0                  ANFÍBIO          5
1           ASAS DE INSETO          7
2              CUSPE ÁCIDO          3
3             DESCONHECIDO          1
4            DOIS CÉREBROS          2
5             ELMO NATURAL          2
6                 ELÉTRICO          1
7                  ESPOROS          4
8               HOMEM FERA         11
9             HOMEM PLANTA          1
10              IMÃ HUMANO          6
11               INSETÓIDE         10
12  INSETÓIDE (LOUVA ZONA)          1
13           LUMINESCENCIA          2
14            LUMINESCENTE          3
15   MANIPULADOR DE SANGUE          2
16               NECRÓFAGO          8
17           PAPA PODRIDÃO          8
18                PARASITA          6
19              PATOCINESE          6
20            PERNAS DE RÃ          6
21              PIROCINESE          9
22           PLANTA HUMANA          6
23           QUATRO BRAÇOS          6
24              RASTREADOR          5
25             RASTREADORA          1
26       REFLEXOS EXTREMOS          9
27               REGENERAR          2
28              REPTILIANO          5
29                   SONAR          7
30           SOPRO DE FOGO          5
31               TELEPATIA          8
32           TERROR MENTAL          5
33             TITERITEIRO          3
34             VAI E VOLTA          1
35               VELOCISTA          7

In [14]:
#As mutações mais comuns do nosso data set são essas
mais_comuns = lista_mutacoes.sort_values(by='APARIÇÕES', ascending=False, ignore_index=True)
mais_comuns.head(5)

            MUTAÇÕES  APARIÇÕES
0         HOMEM FERA         11
1          INSETÓIDE         10
2  REFLEXOS EXTREMOS          9
3         PIROCINESE          9
4          NECRÓFAGO          8

In [15]:
#Essas são as mutações mais raras do nosso data set, a única exceção do (Louva-zona), pois é uma marca apenas estética a mutação
#permanece insetóide como a dos outros
lista_mutacoes.query('APARIÇÕES == 1')

                  MUTAÇÕES  APARIÇÕES
3             DESCONHECIDO          1
6                 ELÉTRICO          1
9             HOMEM PLANTA          1
12  INSETÓIDE (LOUVA ZONA)          1
25             RASTREADORA          1
34             VAI E VOLTA          1

## Vamos para as Gangues/Grupos agora, quais as mais numerosas?  Tem alguma que dê preferência a algum papel em específico?

In [16]:
gangues = df_mut[['GANGUE/GRUPO', 'PAPEL']]
gangues.head(10)

  GANGUE/GRUPO          PAPEL
0      NENHUMA        S/PAPEL
1    SINDICATO  ENGENHOQUEIRO
2      NENHUMA    BRUTAMONTES
3      NENHUMA         CHEFÃO
4      NENHUMA       CRONISTA
5      CONLUIO     NEGOCIANTE
6     VONGOLAS     NEGOCIANTE
7      NENHUMA       CRONISTA
8      NENHUMA  ENGENHOQUEIRO
9  ANARQUISTAS     NEGOCIANTE

In [17]:
gangues.groupby('GANGUE/GRUPO').count()

              PAPEL
GANGUE/GRUPO
ANARQUISTAS       5
BROTHERS         21
CAIPIRAS         18
CONLUIO          11
NENHUMA          36
PRIDE             3
PROTETORES        8
SINDICATO         8
VONGOLAS          9

In [18]:
gangues.groupby('PAPEL').count()

               GANGUE/GRUPO
PAPEL
AD.CÃES                  11
BATEDOR                  20
BRUTAMONTES              23
CHEFÃO                    7
CRONISTA                  9
ENGENHOQUEIRO            15
NEGOCIANTE               13
S/PAPEL                   4
SOLDADO                  17